.wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, 47px);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);    
}

h1 {
    color: #999999;
}

h2 {
    color: #999999;
}

.tadoLabel {
    color: #999999;
    font-weight: bold;
}

.input-writing{
    color: #3d7eb0;
    font-weight: bold;
}