.menuContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, 60px);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);    
}

.linksContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, 120px);
    gap: 10px;
}

.picturesContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

h1 {
    color: #666666;
}

h2 {
    color: #666666;
    background-color: #eeeeee;
}

/* h2.hideDeviceContainer {
    background-color: #999999;
} */

hr {
    display: none;
}

.input-label {
    /* color: #999999; */
    color: #999999;
    
    /* font-weight: bold;
    font-size: 110%; */
}

.input-writing{
    color: #3a86ad;
    font-weight: normal;
    font-size: 155%;
}

.input-writing:focus {
    background: palegoldenrod;
    font-weight: bold;
}

.input-checkbox:focus {
    box-shadow: 0 0 0 2px palegoldenrod;
}

.footer{
    color: #999999;
    font-weight: bold;
    display: table;
    margin: 0 auto;
}

button{
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid #FFFFFF;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    text-align:center;
    transition: all 0.2s;
}
button:hover{
    color:#000000;
    background-color:#FFFFFF;
}
@media all and (max-width:30em){
 button{
    display:block;
    margin:0.4em auto;
    }
}